.suo
/.vs/CML.SqlDoc/v15/Server/sqlite3/storage.ide-wal
/.vs/CML.SqlDoc/v15/Server/sqlite3/db.lock
/.vs/CML.SqlDoc/v15/Server/sqlite3/storage.ide
/.vs/CML.SqlDoc/v15/Server/sqlite3/storage.ide-shm
/.vs/config/applicationhost.config
