
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>数据文档时间轴</legend>
    </fieldset>
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">2018年3月8日</h3>
                <p>
                    增加多标签页面展示，优化一些界面
                </p>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">2018年3月1日</h3>
                <p>数据文档上线功能，暂时支持以下数据库</p>
                <ul>
                    <li>MSSqlserver</li>
                    <li>MySql</li>
                </ul>
            </div>
        </li>
    </ul>

    
</body>
</html>
